#About_Body {
    background-image: url(images/Girl.jpg);
    background-size: 70%;
    background-position-y:bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}


#divAbout{
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.marqueeText {
    width: 50%;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
  }
  
  .marqueeText p {
    color: black;
    font-size:medium;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 1.5; 
    animation: marqueeAnimation 20s linear infinite;
    background-color: #d9d9d9;
    padding: 25px;
  }


  @keyframes marqueeAnimation {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%); }
  }


