/*colours

#000000 - 0% black
#404040 - 25%
#808080 - 50% gray
#bfbfbf - 75%
#d9d9d9 - 85%
#f2f2f2 - 95%
#ffffff - 100% white






/* Whole */

:root {
  --primary-color: black;
  --accent-color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: white;
  margin: 0; 
}






/* Hedader */

.header {
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}

#updiv {
  display: flex;
  justify-content: space-between;
}

#searchDiv{
  background-color: rgb(255, 255, 255);
  height: 36px;
  border-radius: 18px;
  margin-top: 3px;
}

#searchBox{
  float: left;
  height: 36px;
  border-radius: 18px;
  padding-left: 10px;
  font-size: larger;
  width: 400px;
  border: none;
}

#searchBox:focus, #searchBox:active{
  outline: none;
  background-color: rgb(255, 255, 255);
}

#SearchIcon{
  margin-top: 5px;
  margin-right: 10px;
}

#SearchIcon:hover{
  scale: 1.2;
}

#navDiv{
  background-color: rgb(0, 0, 0);
  height: 24px;
  width: 500px;
  margin-top: 10px;
}
.nav{
  display: flex;
  justify-content: space-between;
}

nav a {
  font-weight: bold;
  margin-left: 0px;
  font-size: 20px;
  text-decoration: none;
  color: aliceblue;
}

a:hover{
  scale: 1.2;
}

#downdiv{
  font-size:small;
  text-align: center;
}







/*Whole body */

#bodyDiv{
  background-color: rgb(255, 255, 255);
  padding-left: 10%;
  padding-right: 10%;
}









/* Footer */ 

.footer {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(0, 0, 0);
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: normal;
  color: aliceblue;
}

#footerdiv {
  display: flex;
  justify-content: space-between;
}

#ftContactDiv {
  background-color: rgb(0, 0, 0);
  width: 20%;
  margin-top: 25px;
}

#ftFormDiv{
  background-color: black;
  width: 25%;
}


#footerTable td{
  padding: 2px;
}

#footemail {
  width: 150%;
  max-width: 270px;
}

#footerTable textarea{
  width: 152%;
  height: 50px;
  max-width: 270px;
}

#submitbutn {
  background-color: white;
  height: 30px;
  width: 100px;
  font-weight: bold;
  border-radius: 15px;
  border: 2px white solid;
}

#submitbutn:hover {
  scale: 1.1;
  margin-left: 5px;
}

#socialMediaDiv{
  background-color: rgb(0, 0, 0);
}

#socialMediaDiv img{
  padding: 15px;
}

#socialMediaDiv {
  margin-top: 35px;
}

#socialMediaDiv img:hover{
  scale: 1.25;
}


/*position at bottom*/
